body {
    font-family: 'VT323', sans-serif;
    background: url("../assets/bg-site.jpg") center no-repeat;
    background-size: cover;
    color: #f3f3f3;
    font-size: 18px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

main {
    background-color: #070d12;
    width: 370px;
    border: 2px solid #e126d9;
    border-radius: 10px;
}

main .basic-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

main .basic-infos img {
    width: 104px;
    height: 104px;
    border: 4px solid #02d08f;
    border-radius: 50%;
}

main .basic-infos .dev-name {
    font-size: 26px;
}

main .basic-infos .dev-role {
    font-size: 20px;
    color: #b8bbc5;
}

main .general-infos .btns ul {
    display: flex;
}

main .general-infos .btns ul li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

main .general-infos .btns ul li:hover {
    background-color: #414141;
}

main .general-infos .btns ul li img {
    max-width: 30px;
}

main .general-infos .info {
    display: none;
    padding: 15px;
    min-height: 260px;
}

main .general-infos .selected {
    background-color: #262626;
}

main .general-infos .btns .selected:hover {
    background-color: #262626;
    cursor: default;
}

main .general-infos .info.selected {
    display: block;
}

main .general-infos .info.about {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main .general-infos .info.about .about-title {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

main .general-infos .info.about p {
    font-size: 20px;
    padding-right: 15px;
    max-height: 180px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

main .general-infos .info.about p span {
    color: #02d08f;
}

main .general-infos .social-media {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main .general-infos .social-media .btns-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    max-height: 180px;
    overflow-y: auto;
}

main .general-infos .social-media .social-media-title {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

main .general-infos .social-media .btns-social-media li {
    display: flex;
    transition: 0.3s ease-in-out;
}

main .general-infos .social-media .btns-social-media li:hover {
    opacity: 0.7;
}

main .general-infos .social-media .btns-social-media li a {
    color: #f3f3f3;
    font-size: 20px;
    width: 250px;
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
}

main .general-infos .social-media .btns-social-media li a.btn-cv {
    background-color: #06c185;
}

main .general-infos .social-media .btns-social-media li a.btn-linkedin {
    background-color: #1d87bd;
}

main .general-infos .social-media .btns-social-media li a.btn-github {
    background-color: #545454;
}